<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="455a9c89-4593-4aef-a416-d00a942708ed" name="platform_internal" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="455a9c89-4593-4aef-a416-d00a942708edfileName">platform_internal</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>