<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="GetToken" id="e868737d-3d15-4541-9875-15880c5d0e73" disabled="true" xmlns:con="http://eviware.com/soapui/config">
    <con:settings><con:setting id="ab979626-2c23-4efb-8145-1f9456f808b1fileName">AuthTests</con:setting><con:setting id="e868737d-3d15-4541-9875-15880c5d0e73fileName">GetToken</con:setting></con:settings>
    <con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType>
    
    <con:properties/>
  <con:reportParameters/></con:testSuite>