<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1a2dc5b5-7d28-4c92-b05a-f3a7ff98fcd3" wadlVersion="http://wadl.dev.java.net/2009/02" name="FuelBin" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1a2dc5b5-7d28-4c92-b05a-f3a7ff98fcd3fileName">FuelBin</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>