<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="cd562d2f-094b-4b6c-b266-45af29fa5a40" wadlVersion="http://wadl.dev.java.net/2009/02" name="HX" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="cd562d2f-094b-4b6c-b266-45af29fa5a40fileName">HX</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>