<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="46469176-f8a9-4576-91ec-fc2536cbb1e9" name="SOAP Triggered Sends - User/Pass" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="0ab2d344-f72a-4881-ab3a-21b0edf28a18fileName">SOAP-Triggered-Sends</con:setting><con:setting id="46469176-f8a9-4576-91ec-fc2536cbb1e9fileName">SOAP-Triggered-Sends---User%2FPass</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>