<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="db84e010-5cfc-4747-bdf3-eda8894cbf7e" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://adminsvc-s1.qa1.qa.local" type="rest" definitionUrl="D:\Workspace\AdminSvc.wadl" basePath="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="db84e010-5cfc-4747-bdf3-eda8894cbf7efileName">http%3A%2F%2Fadminsvc-s1.qa1.qa.local</con:setting></con:settings><con:definitionCache type="TEXT"/><con:endpoints><con:endpoint>http://adminsvc-s1.qa1.qa.local</con:endpoint></con:endpoints></con:interface>