<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b2c49df7-8ea1-4a55-8790-d659b4a3a531" name="Webhooks" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b2c49df7-8ea1-4a55-8790-d659b4a3a531fileName">Webhooks</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>MaxSizeName</con:name><con:value>500</con:value></con:property><con:property><con:name>MaxSizeCallbackUrl</con:name><con:value>500</con:value></con:property><con:property><con:name>MaxSizeCallbackKey</con:name><con:value>500</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>