<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a1c5fb41-613d-40e9-84ed-ac4b5c0ffbdf" name="Admin Service - Error Monitoring Tool Tests" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://auth.qa.local]</con:description><con:settings><con:setting id="672ab47d-d8f6-4164-b84e-3e665e8bd802fileName">Admin-Service---Error-Monitoring-Tool-Tests</con:setting><con:setting id="a1c5fb41-613d-40e9-84ed-ac4b5c0ffbdffileName">Admin-Service---Error-Monitoring-Tool-Tests</con:setting><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">false</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>