<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="7dc4c67d-122f-438d-94f3-6df0dad69b48" wadlVersion="http://wadl.dev.java.net/2009/02" name="Vault" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="7dc4c67d-122f-438d-94f3-6df0dad69b48fileName">Vault</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>