<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="095fd3b5-d0ad-4d4d-84f6-5ed2276911c7" name="Async API Regression Tests" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="095fd3b5-d0ad-4d4d-84f6-5ed2276911c7fileName">Async-API-Regression-Tests</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
